@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");



/*Hero*/
:root{
    --text-color:#c9c4da;
	--background: #0c0b0e;

}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
	scroll-behavior: smooth;
	list-style: none;
	text-decoration: none;
    
    
}

body{
    background: #0c0b0e;
}

.nav-bar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 0 2rem;
    
    



}


.nav-links ul{
    display: flex;
    margin: 0;
    padding: 0;

}
.nav-links li a{
    padding: 2rem;
    display: block;
    color: #fff;;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    display: none;
    right: 1rem;
    width: 30px;
    height: 21px;
    flex-direction: column;
    display: none;
    justify-content: space-between;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    
    border-radius: 10px;

}
/****hover over navbar****/
.nav-links a:hover{
	color: cyan;
	

}
.nav-links a::after{
    position:absolute; 
    content: '';
    position: absolute;
    width: 100%;

    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #07f9d0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  

.logo h1{
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;

}
.logo span{
    color: cyan;
}
nav img{
    width: 40px;
    border-radius: 50%;

}
.icons{
	width: 2rem;
	border-radius: 50%;
}
/*hero*/
.hero-container{

    display: flex;
    align-items: center;
	justify-content: center;
	padding: 5rem 0;
    

    

}
.Description-text{
    
    width: 100%;

    display:flex;
	align-items: center;

    justify-content: center;
	flex-direction: column;
	padding: 5rem 0;
    
    
}

.Description-text span{
	position: relative;
    font-size: 4rem;
    color: transparent;
    font-weight: bolder;
	-webkit-text-stroke: 0.1px rgb(21, 22, 22);
	text-transform: uppercase;

}
.Description-text h1{
	color: var(--text-color);
}
.Description-text h1 span::before{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	-webkit-text-stroke: 0.1px  rgb(13, 17, 17) ;
	
	overflow: hidden;
	animation: animate 4s linear infinite;
	color: rgb(7, 249, 249);


}
.Description-text h2{
	color: var(--text-color);

}
@keyframes animate{
	0%,10%,100%{
       width: 0;
	}
	70%,90%{
		width: 100%;
	}

}

/*the buttons*/
.container {
	width: 50%;
	display: flex;
	margin-top: 4rem;
	justify-content: space-around;
	
}
.container .btn {
	position: relative;
	

	width: 200px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.container .btn:hover a {
	letter-spacing: 3px;
}
.container .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.container .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.container .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.container .btn:nth-child(1)::before, /*chnage 1*/
.container .btn:nth-child(1)::after {
	background: #ff1f71;
	box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
		0 0 60px #ff1f71;
}
.container .btn:nth-child(2)::before, /* 2*/
.container .btn:nth-child(2)::after {
	background: #2db2ff;
	box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
		0 0 60px #2db2ff;
}
    
/*About-section*/

#About{
    
	background: #131118;

}
.About-container{
    
    display: flex;
    justify-content: space-between;
    gap:6rem;
	padding: 4rem;
	

}

.About-text{
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	gap: 3rem;

	
	
	
}
.About-text h3{
	color: aqua;
}


.About-infos{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap:4rem;
	margin-top: 1rem 0;

	
}
.element-infos p{
	text-align: center;
}




.About-details img{
	max-width:100%;
	border-radius: 20px;
	border: 3px solid cyan;
	
}

.edu-infos{
	margin-left: 0 5px ;
	
	background-color: #0f0e11;
	padding: 10px 0;
	border-radius:5px ;
	border: 0,5px solid  #18171b;
	box-shadow: -10px 10px  20px#34393a;

	
	
	
	
	

	
	
}
.email-icon{
	border: 2px solid cyan;
}
.edu-infos p, h3{
	text-align: center;
	

}

/*skills section**/
.skills-container{
	display: flex;
	justify-content: space-around;
	margin: 100px;
	padding: 20px;
	gap: 1.7rem;

	
}
.skills-details{

	width: 40%;
	padding: 20px 10x;
	display:flex;
	flex-direction: column;
	gap: 1.5rem;
	
	

}
.bar{
	width: 100%;
	height: 15px;
	border: 1px solid var(--background);
	background: #27252c;
	
	
	
}
.skills-bar h3{
	color: var(--text-color);
	
}
.skills-bar-level{
	width: 90%;
	background: cyan;
	border: 0.2px solid;
	height: 100%;
}
.title{
	color: var(--text-color);
	text-align: center;
	margin-top: 4rem;
}
/*portfolio sections*/
#Portfolio{
	background: #0a0b16;
}
.project-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5rem 0 ;
	
	
	
	
	


}

.project-details{
	border: rgb(31, 31, 39) 0,9px solid;
	width: 300px;
	height: 300px;
	border-radius: 10px;
	background:#030513;
	box-shadow: 5px  10px 20px #31343f;

	


	
	

	
}
.project-details img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.project-title{
color: var(--text-color);
margin-top: 40px;

width: auto;
}
.title{
	text-align: center;
	margin: 2rem;
	
	
}
.project-section{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

/*Services sections*/
.services-container{
	display: flex;
	justify-content: space-around;
	margin: 50px;
	padding: 30px;
	
	
}
.services-details{
	width: 350px;
	height: 350px;
	border: 0,3px solid rgb(39, 39, 35);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	background: #151516;
	box-shadow: 5px 10px 20px #282a38 ;
}
.service-image{
	width: 100px;
	

	
	

}
.services-title{
	color: var(--text-color);
	padding-top: 50px;
}
.services-text{
	text-align: center;
}
.services-text h3{
	color: cyan;
}
.services-text  p{
	color:var(--text-color);
}

/*contact section*/
#Contacts{
	background: #19032c;
}
.contact-container{
	display: flex;
	
	flex-direction:column;
	gap:3rem;
	justify-content: center;
	align-items: center;
	padding: 30px 0;

}


.contact-details{
	
	padding: 20px;
	gap: 5rem;

}
.little-profile h3{
	color: cyan;
	font-size: 25px;
	

}
.little-profile p{
	color: var(--text-color);
	font-size: 15px;

}
.social-container{
	border-top: #fff solid 1px;
	
	display: flex;
	justify-content: space-between;
	gap: 1rem;
  
	
	 
	padding: 1rem 3rem; 
  
  }
  
	
	
	
	
	
  
  
  
	
	
	
  
  .row h4{
	color: #7645d8;
	text-align: center;
  
  }
  .row p{
	color: #fff;
  
  }
  .text-container{
	color: #fff;
	display: flex;
	gap: 1rem;
	
  }
  
  
  .text-container p{
	margin-top: 7px;
  
  }
  
  .text-container h2{
	font-weight: bolder;
  }
  .text-container p span{
	border-radius: 50%;
	padding: 2px 6px;
	border: 1px solid #fff;
  }
  .social-link-container{
	display: flex;
	

	
  }
  .social-link-container img{
	width: 1.8rem;
	margin-left:1rem ;
	color: #fff;
	
  }
  

  
  
  
  
  















